<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <link rel="stylesheet" href="static\css\contacts.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">Contacts</a></li>
        <li><a href="projects">Projects</a></li>
      </ul>
    </nav>

    <h1>Contact</h1>
    <p>Feel free to connect with me</p>
    <p>E-mail: janice.vaz360@gmail.com</p>
    <p><a href="https://linkedin.com/in/janice-vaz-48033">LinkedIn</a></p>
  </body>
</html>
