<!DOCTYPE html>
<html>
  <head>
    <title>Janice Vaz</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static\css\home.css" />
  </head>

  <body>
    <div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="contacts">Contacts</a></li>
          <li><a href="projects">Projects</a></li>
        </ul>
      </nav>
    </div>

    <div class="split-layout">
      <div class="left-content">
        <div><h1>Janice Vaz</h1></div>

        <div><h2>Position</h2></div>
        <p>
          Student at John's Hopkins University pursuing a Master's in Artificial
          Intelligence
        </p>
        <p>Patent Examiner at the United States Patent and Trademark Office</p>

        <div>
          <h3>Summary</h3>
          <p>
            Janice Vaz is a patent examiner at the United States Patent and
            Trademark Office specializing in image analysis. She hold's a
            bachelor's degree in Biomedical Engineering from Virginia
            Commonwealth University. She is currently working full-time and
            studying part-time to earn her Master's in Artifical Intelligence
            from John's Hopkins University.
          </p>
        </div>
      </div>

      <div class="right-image">
        <img src="../static/pic.jpg" alt="this is a picture of me" />
      </div>
    </div>
  </body>
</html>
