<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <link rel="stylesheet" href="static\css\projects.css" />
  </head>
  <body>
    <div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="contacts">Contacts</a></li>
          <li><a href="">Projects</a></li>
        </ul>
      </nav>
    </div>

    <div class="split-layout">
      <div class="left-content">
        <div>
          <h1>Projects</h1>
        </div>

        <div>
          <p>Here are a list of my projects</p>
          <p>
            <a href="https://github.com/jevaz360/jhu_software_concepts.git"
              >Personal Website</a
            >: accessible on github
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
